CTCF/ENCFF682EOV_allseqs.nelsa.csv
CTCF/ENCFF682EOV_allseqs_random.nelsa.csv
CTCF/ENCFF682EOV_allseqs_shuff.nelsa.csv
CTCF/ENCFF682EOV_best5000.nelsa.csv
CTCF/ENCFF682EOV_best5000_random.nelsa.csv
CTCF/ENCFF682EOV_best5000_shuff.nelsa.csv
CTCF/kmers-stats_ENCFF682EOV_allseqs.csv
CTCF/kmers-stats_ENCFF682EOV_best5000.csv
CTCF/scores.best5000.re-extract.k4.csv
CTCF/scores.best5000.re-extract.simple-maximal.0.8.csv
CTCF/scores.best5000.shuffle.k5.csv
CTCF/scores.re-extract.k4.csv
CTCF/scores.re-extract.simple-maximal.0.8.csv
CTCF/scores.shuffle.k4.csv
CTCF/scores.shuffle.k5.csv
CTCF/ENCFF682EOV_best5000_shuff.fa
CTCF/ENCFF682EOV_allseqs_shuff.fa
CTCF/ENCFF682EOV_best5000_random10.fa
CTCF/ENCFF682EOV_best5000_random10.nelsa.csv
CTCF/hg38.fa.gz
*.csv
ATF3/ENCFF000OXR_random.fa
ATF3/ENCFF000OXR_random10.fa
ATF3/ENCFF000OXR_shuff.fa
ATF3/hg19.fa
ATF3/hg19.fa.fai
ATF3/hg19.fa.gz
ATF3/ENCFF000OXR.fasta
ATF3/ENCFF000OXR_random.bed
ATF3/ENCFF000OXR.bed
